@model IEnumerable<Bai1.Models.tb_PhongBan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2 class="text-center text-primary">Xem Nhân Viên</h2>


<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">NHÂN VIÊN</h1>
    
        
   
     <a href="@Url.Action("Create","tb_PhongBan")" class="btn btn-primary mb-3">Thêm Nhân Viên</a>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th> @Html.DisplayNameFor(model => model.TenPB)</th>
                            <th> @Html.DisplayNameFor(model => model.SDTPB)</th>
                        </tr>
                    </thead>
                    
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenPB)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SDTPB)
                                </td>
                                <td>
                                   
                                    @Html.ActionLink("Edit", "Edit", new { id = item.MaPB }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.MaPB }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.MaPB })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>






